/* General Body and Typography Styles */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-family: "lato", "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  color: #333;
}

h1 {
  color: #333;
  text-align: center;
}

/* Container Styles */
.draft-order-container,
.deeplink-container {
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1rem auto;
  max-width: 80%;
}

/* Button Styles */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: .5rem .5rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: .5rem;
}

button:hover {
  background-color: #0056b3;
}

.deeplink-input-group,
.draft-order-input-group {
  display: flex;
  flex-direction: column;
  align-items: center; /* Vertically centers items */
  margin-bottom: 5px; /* Adds space between groups */
  border-color: #333;
  border: 1px;
}

.deeplink-input-group label,
.deeplink-input-group input,
.deeplink-input-group button {
  flex: 50%; /* Allows each item to take full width on small screens */
  text-align: center; /* Centers text within each element */
  margin-bottom: 5px; /* Adds space between elements */
}
